<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>关于我</title>
</head>
<body>
<!--导航开始--------------------------------------------->
<nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-mini m-shadow-small"></nav>
<!--导航结束---------------------------------------------->


    <!--中间内容开始------------------------------------------>
    <div class="m-container m-padded-large">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eleven wide column">
                    <div class="ui teal segment">
                        <img th:src="@{/images/me.jpg}" alt="" class="ui rounded image" />
                    </div>
                </div>
                <div class="five wide column">
                    <div class="ui top teal attached segment">
                        <div class="ui center aligned header">关于我</div>
                    </div>
                    <div class="ui attached segment">
                        <p class="m-text">movee，一个编程的爱好者</p>
                        <p class="m-text">一个想要变强的后端弱鸡</p>
                    </div>
                    <div class="ui attached segment" th:each="type : ${types}">
                        <div class="ui orange left pointing basic label m-margin-bottom-small" th:text="${type.name}">编程</div>
                    </div>
                    <div class="ui attached segment" th:each="tag : ${tags}">
                        <div class="ui teal left pointing basic label m-margin-bottom-small" th:text="${tag.name}">java</div>
                    </div>
                    <div class="ui buttom attached segment">
                        <a class="ui qq circular icon buttom m-margin-left-small" href="https://github.com/Movee-Ax" data-position="bottom center"><i class="github icon"></i></a>
                        <a href="#" class="ui wechat circular icon buttom m-margin-left-small"><i class="weixin icon"></i></a>
                        <a href="#" class="ui qq circular icon buttom m-margin-left-small" data-content="2753114732" data-position="bottom center"><i class="qq icon"></i></a>
                    </div>
                    <div class="ui wechatQR flowing popup transition hidden">
                        <img th:src="@{/images/wechat.jpg}" class="ui rounded image" style="width: 100px" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--中间内容结束------------------------------------------>
    <br>
    <!--底部内容开始-->
    <footer th:replace="_fragments :: footer"></footer>
    <!--底部内容结束------------------------------------------>


    <th:block th:replace="_fragments :: script">
        <script src="../static/dist/jquery/jquery-3.4.1.min.js"></script>
        <script src="../static/dist/semantic/semantic.min.js"></script>
        <script src="../static/lib/scrollTo/scrollTo.min.js"></script>
        <script src="../static/lib/prism/prism.js"></script>
        <script src="../static/lib/tocbot/tocbot.js"></script>
        <script src="../static/lib/qrcode/qrcode.min.js"></script>
        <script src="../static/lib/waypoints/waypoints.min.js"></script>
    </th:block>
<script>
    $('.m-menu.m-toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.wechat').popup({
       popup : $('.wechatQR'),
        on : 'hover',
        position: 'bottom center'
    });
    $('.qq').popup();
    

</script>
</body>
</html>