<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>归档</title>
</head>
<body>
    <!--导航开始--------------------------------------------->
    <nav class="ui inverted attached segment m-padded-mini m-shadow-small" >
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <a href="#" class="active m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
                <div class="right m-item item m-mobile-hide">
                    <div class="ui action input">
                        <input type="text" placeholder="输入关键字">
                        <button class="ui button">搜索</button>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="ui m-menu m-toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--导航结束---------------------------------------------->


    <!--中间内容开始------------------------------------------>
    <div class="m-container-small m-padded-large">
        <div class="ui container">
            <!--中间内容上面的导航开始 ---->
            <div class="ui top attached padded segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">归档</h3>
                    </div>
                    <div class="right aligned column">
                        共 <h2 class="ui orange header m-inline-block m-text-thin"> 114 </h2> 篇博客
                    </div>
                </div>
            </div>
            <!--中间内容上面的导航结束 ---->

            <!-- 中间内容具体内容开始 -->
            <div class="ui teal segment">
                <h3 class="ui center aligned header">2017</h3>
                <div class="ui fluid vertical menu">
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal circle icon"></i>c++语言
                            <div class="ui teal basic left pointing label m-padded-mini">9月03日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal circle icon"></i>c++语言
                            <div class="ui teal basic left pointing label m-padded-mini">9月03日</div>
                        </span>
                        <div class="ui green basic left pointing label m-padded-mini">转载</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal circle icon"></i>c++语言
                            <div class="ui teal basic left pointing label m-padded-mini">9月03日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal circle icon"></i>c++语言
                            <div class="ui teal basic left pointing label m-padded-mini">9月03日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-mini">原创</div>
                    </a>
                </div>
            </div>

            <div class="ui teal segment">
                <h3 class="ui center aligned header">2016</h3>
                <div class="ui fluid vertical menu">
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal circle icon"></i>c++语言
                            <div class="ui teal basic left pointing label m-padded-mini">9月03日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal circle icon"></i>c++语言
                            <div class="ui teal basic left pointing label m-padded-mini">9月03日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal circle icon"></i>c++语言
                            <div class="ui teal basic left pointing label m-padded-mini">9月03日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal circle icon"></i>c++语言
                            <div class="ui teal basic left pointing label m-padded-mini">9月03日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-mini">原创</div>
                    </a>
                </div>
            </div>

            <div class="ui teal segment">
                <h3 class="ui center aligned header">2015</h3>
                <div class="ui fluid vertical menu">
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal circle icon"></i>c++语言
                            <div class="ui teal basic left pointing label m-padded-mini">9月03日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal circle icon"></i>c++语言
                            <div class="ui teal basic left pointing label m-padded-mini">9月03日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal circle icon"></i>c++语言
                            <div class="ui teal basic left pointing label m-padded-mini">9月03日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal circle icon"></i>c++语言
                            <div class="ui teal basic left pointing label m-padded-mini">9月03日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-mini">原创</div>
                    </a>
                </div>
            </div>
            
            <!-- 中间内容具体内容结束 -->
        </div> 
    </div>
    <!--中间内容结束------------------------------------------>
    <br>
    <!--底部内容开始-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-massive"></footer>
    <!--底部内容结束------------------------------------------>


<script src="../static/dist/jquery/jquery-3.4.1.min.js"></script>
<script src="../static/dist/semantic/semantic.min.js"></script>
<script>
    $('.m-menu.m-toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>