<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title th:text="${blog.title}"></title>
</head>
<body>
    <!--导航开始--------------------------------------------->
    <nav th:replace="_fragments :: menu(0)" class="ui inverted attached segment m-padded-mini m-shadow-small">
    </nav>
    <!--导航结束---------------------------------------------->


    <!--中间内容开始------------------------------------------>
    <div id="waypoint" class="m-container-small m-padded-large">
        <div class="ui container animated bounceInLeft">
            <!--中间内容头部信息开始-->
            <div class="ui top attached segment">
                <div class="ui horizontal link list">
                    <div class="item">
                        <img th:src="@{/images/me.jpg}" alt="" class="ui avatar image"/>
                        <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">Movee</a></div>
                    </div>
                    <div class="item">
                        <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                    </div>
                    <div class="item">
                        <i class="eye icon"></i> <span th:text="${blog.views}"></span>
                    </div>
                </div>
            </div>
            <!--中间内容头部信息结束-->

            <!--中间内容图片开始-->
<!--            <div class="ui attached segment">-->
<!--                <img src="../static/images/test1.jpg" th:src="${blog.firstPicture}" alt="" class="ui fluid rounded image">-->
<!--            </div>-->
            <!--中间内容图片结束-->

            <!--中间内容博客内容开始-->
            <div class="ui attached padded segment">
                <div class="ui right aligned basic segment">
                    <div class="ui green basic label" th:text="${blog.flag}">转载</div>
                </div>

                <!--博客具体内容-->
                <div th:utext="${blog.content}" id="m-id-content" class="typo typo-selection js-toc-content m-padded-left-right-responsive m-padded-large"></div>
                <br>
                <!--标签-->
                <div class=".m-padded-left-right-responsive">
                    <div class="ui basic teal left pointing label" th:each="tag : ${blog.tags}" th:text="${tag.name}">java</div>
                </div>
                <!--赞赏-->
                <div class="ui center aligned basic segment" th:if="${blog.appreciation}">
                    <button id="m-pay-button-id" class="ui orange basic circular button">赞赏</button>
                </div>
                <div class="ui m-pay-q flowing popup transition hidden">
                    <div class="ui orange basic label">
                        <div class="ui images" style="font-size: inherit !important;">
                            <div class="image">
                                <img th:src="@{/images/pay.jpg}" alt="" class="ui rounded bordered image" style="width: 120px">
                                <div>支付宝</div>
                            </div>
                            <div class="image">
                                <img  th:src="@{/images/wepay.jpg}" alt="" class="ui rounded bordered image"  style="width: 120px">
                                <div>微信</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--中间内容博客内容结束-->

            <!--中间内容博客其他信息开始-->
            <div class="ui attached positive message">
                <div class="ui middle aligned grid">
                    <div class="eleven wide column">
                        <ul class="list" th:switch="${blog.shareStatement}">
                            <li>作者：<span th:text="${blog.user.nickname}"></span><a href="" target="_blank" th:href="@{/about}">联系作者</a></li>
                            <li>发表时间：<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}"></span></li>
                            <li th:case=true>版权声明：自由转载</li>
                            <li th:case=false>版权声明：不允许转载</li>
                            <li th:case=true>转载说明：请在文末添加二维码</li>
                        </ul>
                    </div>
                    <div class="five wide column">
                        <img src="../static/images/wechat.png" th:src="@{/images/wechat.jpg}" alt="" class="ui right floated rounded bordered image" style="width: 110px">
                    </div>
                </div>
            </div>
            <!--中间内容博客其他信息结束-->

            <!--中间内容留言区域开始-->
            <div class="ui bottom attached segment" th:if="${blog.commentabled}">
                <!--中间内容留言区域列表-->
                <div id="comment-container" class="ui teal segment">
                    <div th:fragment="commentList">
                        <div class="ui threaded comments" style="max-width: 100%">
                            <h3 class="ui dividing header">评论区</h3>
                            <div class="comment" th:each="comment : ${comments}">
                                <a class="avatar" th:switch="${comment.adminComment}">
                                    <span th:case="true"><img src="../static/images/user1.jpg" th:src="@{/images/me.jpg}"></span>
                                    <span th:case="false"><img src="" alt="" th:src="@{/images/test1.jpg}"></span>
                                </a>
                                <div class="content">
                                    <a class="author">
                                        <span th:text="${comment.nickname}"></span>
                                        <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${comment.adminComment}">博主</div>
                                    </a>
                                    <div class="metadata">
                                        <span class="date" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}">今天下午 5:42</span>
                                    </div>
                                    <div class="text" th:text="${comment.content}">太赞了！ </div>
                                    <div class="actions">
                                        <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickname}" onclick="reply(this)">回复</a>
                                    </div>
                                </div>
                                <div class="comments" th:if="${#arrays.length(comment.replyComments)}>0">
                                    <div class="comment" th:each="reply : ${comment.replyComments}">
                                        <a class="avatar">
                                            <a class="avatar" th:switch="${reply.adminComment}">
                                                <span th:case="true"><img src="../static/images/user1.jpg" th:src="@{/images/me.jpg}"></span>
                                                <span th:case="false"><img src="" alt="" th:src="@{/images/test1.jpg}"></span>
                                            </a>
                                        </a>
                                        <div class="content">
                                            <a class="author">
                                                <span th:text="${reply.nickname}"></span>
                                                <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${reply.adminComment}">博主</div>
                                                <span th:text="|@ ${reply.parentComment.nickname}|" class="m-teal"></span>
                                            </a>
                                            <div class="metadata">
                                                <span class="date" th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">今天下午 5:42</span>
                                            </div>
                                            <div class="text" th:text="${reply.content}">太赞了！ </div>
                                            <div class="actions">
                                                <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickname}" onclick="reply(this)">回复</a>
                                            </div>
                                        </div>
                                        <div class="comments">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/*-->
                            <div class="comment">
                                <a class="avatar">
                                    <img src="../static/images/user2.jpg">
                                </a>
                                <div class="content">
                                    <a class="author">Elliot Fu</a>
                                    <div class="metadata">
                                        <span class="date">昨天上午12:30</span>
                                    </div>
                                    <div class="text">
                                        <p>這對我的研究是非常有用.謝謝!</p>
                                    </div>
                                    <div class="actions">
                                        <a class="reply">回复</a>
                                    </div>
                                </div>
                                <div class="comments">
                                    <div class="comment">
                                        <a class="avatar">
                                            <img src="../static/images/user3.jpg">
                                        </a>
                                        <div class="content">
                                            <a class="author">Jenny Hess</a>
                                            <div class="metadata">
                                                <span class="date">刚刚</span>
                                            </div>
                                            <div class="text">艾略特你永远是多么正确 :) </div>
                                            <div class="actions">
                                                <a class="reply">回复</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <a class="avatar">
                                    <img src="../static/images/user4.jpg">
                                </a>
                                <div class="content">
                                    <a class="author">Joe Henderson</a>
                                    <div class="metadata">
                                        <span class="date">5 天以前</span>
                                    </div>
                                    <div class="text">老兄，这太棒了。非常感谢。 </div>
                                    <div class="actions">
                                        <a class="reply">回复</a>
                                    </div>
                                </div>
                            </div>
                            <!--*/-->
                        </div>
                    </div>
                </div>
                <div id="comment-form" class="ui form">
                    <input type="hidden" name="blog.id" th:value="${blog.id}">
                    <input type="hidden" name="parentComment.id" value="-1">
                    <div class="field">
                        <textarea name="content" placeholder="请输入评论信息 ... "></textarea>
                    </div>
                    <div class="fields">
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="nickname" placeholder="姓名" th:value="${session.user} != null ? ${session.user.nickname}">
                            </div>
                        </div>
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="text" name="email" placeholder="邮箱" th:value="${session.user} != null ? ${session.user.email}">
                            </div>
                        </div>
                        <div class="field m-margin-bottom-small m-mobile-wide">
                            <button id="commentpost-btn" type="button" class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--中间内容留言区域结束-->
        </div>
    </div>
    <!--中间内容结束------------------------------------------>


    <!-- 右边小工具条开始  ---------------->
    <div id="toolbar" class="m-padded-all m-fixed m-right-bottom" style="display: none;">
        <div class="ui vertical icon buttons ">
            <button type="button" class="ui toc-button teal button">文章目录</button>
            <a href="#comment-container" class="ui teal button">留言</a>
            <div id="toTop-button" class="ui icon button"><i class="chevron up icon"></i> 回到首部</div>
        </div> 
    </div>
    <div class="ui toc-comtainer flowing popup transition hidden" style="width: 300px !important;">
        <ol class="js-toc">
            
        </ol>
    </div>
    <div id="qrcode" class="ui wechatRead flowing popup transition hidden" style="width: 130px !important">
        <!-- <img src="../static/images/wechat.png" class="ui rounded image" style="width: 100px" /> -->
    </div>
    <!-- 右边小工具条结束  ---------------->

    <!--底部内容开始-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-massive"></footer>
    <!--底部内容结束------------------------------------------>
    <th:block th:replace="_fragments :: script">
        <script src="../static/dist/jquery/jquery-3.4.1.min.js"></script>
        <script src="../static/dist/semantic/semantic.min.js"></script>
        <script src="../static/lib/scrollTo/scrollTo.min.js"></script>
        <script src="../static/lib/prism/prism.js"></script>
        <script src="../static/lib/tocbot/tocbot.js"></script>
        <script src="../static/lib/qrcode/qrcode.min.js"></script>
        <script src="../static/lib/waypoints/waypoints.min.js"></script>
    </th:block>

<script th:inline="javascript">
    $('.m-menu.m-toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('#m-pay-button-id').popup({
       popup : $('.m-pay-q.popup'),
        on : 'click',
        position: 'bottom center'
    });

    /* 初始化文章目录 */
    tocbot.init({
      // 指定在哪放置这个文章目录
      tocSelector: '.js-toc',
      // 需要指定为哪个里面的内容生成目录
      contentSelector: '.js-toc-content',
      // 指定生成的级别
      headingSelector: 'h1, h2, h3, h4',
      // For headings inside relative or absolute positioned containers within content.
      hasInnerContainers: true
    });

    $('.toc-button').popup({
       popup : $('.toc-comtainer.popup'),
        on : 'click',
        position: 'left center'
    });
    $('.wechatReadBut').popup({
       popup : $('.wechatRead'),
        on : 'hover',
        position: 'left center'
    });

    var serurl = "https://www.movee.wang"
    var url = /*[[@{/blog/{id}(id=${blog.id})}]]*/"";
    var qrcode = new QRCode("qrcode", {
        text: serurl+url,
        width: 100,
        height: 100,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });

    $('#toTop-button').click(function() {
        $(window).scrollTo(0,800);
    });

    var waypoint = new Waypoint({
      element: document.getElementById('waypoint'),
      handler: function(direction) {
        if(direction == 'down') {
            $('#toolbar').show(400);
        } else {
            $('#toolbar').hide(400);
        }
      }
    })
    $('.ui.form').form({
        fields: {
            typeId: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入评论内容'
                }]
            },
            nickname: {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '请输入昵称'
                }]
            },
            description: {
                identifier: 'email',
                rules: [{
                    type: 'empty',
                    prompt: '请输入邮箱地址'
                }]
            }
        }
    });

    $(function () {
        $("#comment-container").load(/*[[@{/comments/{id}(id=${blog.id})}]]*/"comments/6");
    });

    $('#commentpost-btn').click(function () {
        var boo = $('.ui.form').form('validate form')
        if(boo){
            console.log('校验成功');
            postData();
        } else{
            console.log('校验失败');
        }
    });

    function postData() {
        $("#comment-container").load(/*[[@{/comments}]]*/"",{
            "parentComment.id" : $("[name='parentComment.id']").val(),
            "blog.id" : $("[name='blog.id']").val(),
            "nickname": $("[name='nickname']").val(),
            "email"   : $("[name='email']").val(),
            "content" : $("[name='content']").val()
        },function (responseTxt, statusTxt, xhr) {
            $(window).scrollTo($('#comment-container'),500);
            clearContent();
        });
    }


    function clearContent() {
        $("[name='nickname']").val('');
        $("[name='email']").val('');
        $("[name='content']").val('');
        $("[name='parentComment.id']").val(-1);
        $("[name='content']").attr("placeholder", "请输入评论信息...");
    }


    function reply(obj) {
        var commentId = $(obj).data('commentid');
        var commentNickname = $(obj).data('commentnickname');
        $("[name='content']").attr("placeholder", "@"+commentNickname).focus();
        $("[name='parentComment.id']").val(commentId);
        $(window).scrollTo($('#comment-form'),500);
    }

</script>
</body>
</html>